services:
  bankingsystemaccountservice:
    image: ghcr.io/murphym2004/account-service/app
    env_file: ./.env
    ports:
      - "8081:8081"
    networks:
      - labnet

  user-service:
    image: ghcr.io/davidprender1/user-service:latest
    env_file:
      - ./.env
    ports:
      - "8083:8083"
    depends_on:
      - db
    networks:
      - labnet

  db:
    image: postgres:17-alpine
    env_file: ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - labnet

volumes:
  postgres-data:


networks:
  labnet:
